body{
    background-image: url(body-1.png);
    background-size: 320px;
}

.card{
    margin: auto;
    margin-top: 10%;
    max-width: 62%;
    height: fit-content;
    background-image: url(safemoon-card-1.png);
}

::placeholder{
    overflow: visible;
    }

button{
    background-color: #00A79D;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 800;
}

.coin-interest{
    padding-top: 40px;
}

.year-compound{
    padding-top: 63px;
    padding-left: 30px;
}


.years{
    font-weight: 600;
}

.bold{
    font-weight: 600;
}

span{
    font-weight: 400;
}

.display{
    display: none;
}

/* Media Queries */

@media only screen and (max-width:1466px){
    .year-compound{
        font-size: 12px;
    }

    .instructions{
        font-size: 12px;
    }
}

@media only screen and (max-width:1100px){
    .card{
        max-width: 80%;
    }
    .coin-interest{
        font-size: 12px;
    }
}

@media only screen and (max-width: 775px){
    .instructions{
        font-size: 10px;
    }
    .year-compound{
        font-size: 10px;
    }

    form{
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px){
    #btn-1{
        margin: 15px;
    }

    #btn-2{
        margin: 15px;
    }
}

@media only screen and (max-width: 685px){
    .card{
        max-width: 98%;
    }

    .year-compound{
        font-size: 12px;
    }

    .col-xs-4{
        margin: 20px;
    }
}

@media only screen and (max-width: 485px){
    .year-compound-switch{
        font-size: 11px;
    }
}

@media only screen and (max-width: 395px){
    .year-compound-switch{
        font-size: 9px;
    }
}


